.container {
  margin-top: 65px;

  .list{
    .itemList {
      list-style: none;
      :hover{
        cursor: pointer;
      }
      .title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin: 0;
        color: var(--heading);
      }
      .subtitle {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        color: var(--body);
        padding-top: 8px;
      }

      .infoContainer {
        padding-top: 24px;
        display: flex;
        .infoContent{
          display: flex;
          align-items: center;
          .text {
            color: var(--info);
            margin-left: 8px;
            font-size: 14px;
            font-family: Inter, sans-serif;
          }
          .icon {
            color: var(--info);
            width: 20px;
            height: 20px;
          }
          & + .infoContent{
            margin-left: 24px;
          }
        }

        }
      & + .itemList {
        margin-top: 48px;
      }
    }
  }
  .buttonLoadMore{
    outline: none;
    background: none;
    border: none;
    :hover{
      cursor: pointer;
    }
    margin-top: 64px;
    .buttonText {
      color: var(--highlight);
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
